body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;

  max-width: 38rem;
  padding: 2rem;
  background-color: #191f24;
  color: rgb(243, 248, 250);
  display: block;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

#wrapper {
  position: absolute;
}

#monitormirror {
  width: 2560px;
  height: 1440px;
  background-color: rgb(57, 68, 83);
  zoom: 20%;
  box-shadow: 1px 1px 12px 7px rgba(22, 22, 22, 0.493);
  border: medium solid rgba(130, 139, 139, 0.801);
}

#areamirror {
  width: 2560px;
  height: 1440px;
  background-color: rgb(57, 68, 83);
  zoom: 5%;
  box-shadow: 1px 1px 12px 7px rgba(22, 22, 22, 0.493);
  border: medium solid rgba(218, 231, 231, 0.801);
}

#areaoverlaymirror {
  width: 2560px;
  height: 1440px;
  /* border: medium solid rgba(28, 180, 173, 0.801); */
  zoom: 5%;
  margin-left: -2560px;
 
}

#forcebox {
  margin: 5px;
}

#datawrapper {
  margin-bottom: 10px;
}

.datavalue {
  color: rgb(255, 180, 42);
}

h1 {
  text-shadow: 2px 2px rgba(0, 0, 0, 0.548);
}

h3 {
  padding-bottom: 0;
  margin-bottom: 7px;
}

#settingswrapper {
  position: relative;
}

input[type='checkbox'] {
  position: absolute;

  /* change "blue" browser chrome to yellow */
  filter: invert(90%) hue-rotate(130deg) brightness(1.4);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
  margin-right: 10px;
  width: 80px;
  background-color: rgba(176, 195, 199, 0.582);
  border: none;
}

legend {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
  display: grid;
  color: rgb(243, 248, 250);
  font-size: small;
}

#areawrapper {
  display: flex;
  flex-direction: row;
}

#topbotwrapper {
  display: table; /* 2. display flex to the rescue */
  margin: 10px;
  margin-top: -10px;
}

#leftrightwrapper {
  display: table; /* 2. display flex to the rescue */
  margin: 10px;
  margin-top: -10px;
}

.tablecell {
  display: table-cell;
}

#forceproptext {
  font-size: 14px;
}

#slidercontainer {
  margin-top: 10px;
}

.slider {
  -webkit-appearance: none;
  width: 200px;
  height: 5px;
  border-radius: 5px;  
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 15px;
  height: 15px;
  border-radius: 50%; 
  background: #5acdd1;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background: #66cde7;
  cursor: pointer;
}